{% extends "wrapper.html" %}
{% block content %}
<div class="row">
</div>
<div class="row">
    <div class="column column-75">
        <h3>如何使用本工具：</h4>
        <ol>
            <li>安装 <a href="https://www.openscad.org/">OpenSCAD</a>.</li>
            <li>单击下面的某一个按钮（Manuform有汉化）：</li>
            <li>进入页面，任意调整表格选项</li>
            <li>单击“生成外壳”下载外壳的 .scad 文件</li>
            <li>单击“生成底盖”下载底盖的 .scad 文件</li>
        </ol>
        <a href="/lightcycle">
            <button>Lightcycle</button>
        </a>
        <a href="/manuform">
            <button>Manuform</button>
        </a>
        <p>如果你希望使用可编程接口，请查看以下页面。</p>
        <a href="/api">
            <button>API</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="column column-100">
        <br>
        <br>
        <p>还可以查看 <a href="/example">示例文件</a> 和<a href="https://github.com/yejianfengblue">Mr. Ye JianFeng</a>（B站账号<a href="https://space.bilibili.com/209519655">未来工具研究所</a>）制作的<a href="https://gitee.com/yejianfengblue/dactyl-generator-demo">说明</a>.</p>
        <br>
    </div>
</div>
{% endblock %}
