{% extends "wrapper.html" %} {% block content %}

<script>
  function setkeyboard(
    ncols,
    nrows,
    thumbcount,
    innercolumn,
    lastrow,
    widepinky
  ) {
    document.getElementById("keys.columns").value = ncols;
    document.getElementById("keys.rows").value = nrows;
    document.getElementById("keys.thumb-count").value = thumbcount;
    document.getElementById("keys.inner-column").value = innercolumn;
    document.getElementById("keys.last-row").value = lastrow;
    document.getElementById("form.wide-pinky").value = widepinky;
  }

  function setminidox() {
    setkeyboard(5, 4, "three-mini", "normal", "zero", "false");
  }

  function setcorne() {
    setkeyboard(6, 4, "three-mini", "normal", "zero", "false");
  }

  function setergodox() {
    setkeyboard(6, 5, "six", "outie", "full", "true");
  }
  function setsmallest() {
    setkeyboard(5, 3, "two", "innie", "zero", "false");
  }
</script>
<div class="row">
  <div class="column column-75">
    <br />
    <h2>Manuform</h2>
  </div>
</div>
<div class="row">
  <div class="colum column-75">
    <p>
      如果你过去从这个网站下载过JSON配置，那么可以在这里上传之后导入上次的设置：
    </p>
    <input
      type="file"
      name="jsonloader"
      id="jsonloader"
      onchange="shove_json()"
    />
    <br />
    <br />
    <br />
  </div>
</div>
<div class="row">
  <div class="column column-75">
    <form method="POST" action="/manuform">
      <label for="keys">
        <h3>按键</h3>
      </label>
      <fieldset name="keys" id="keys">
        <label for="keys.columns">列数 (4 - 7)</label>
        <input
          type="number"
          name="keys.columns"
          id="keys.columns"
          value="5"
          min="4"
          max="9"
        />
        <label for="keys.rows">行数 (3 - 6)</label>
        <input
          type="number"
          name="keys.rows"
          id="keys.rows"
          value="4"
          min="3"
          max="7"
        />
        <label for="keys.thumb-count">拇指区按键数</label>
        <select id="keys.thumb-count" name="keys.thumb-count">
          <option value="six">6 (Default)</option>
          <option value="five">5 (Mini)</option>
          <option value="four">4</option>
          <option value="three">3 (1.5u)</option>
          <option value="three-mini">3 (Minidox)</option>
          <option value="two">2</option>
        </select>
        <label for="keys.last-row">最下面一行按键数？</label>
        <select id="keys.last-row" name="keys.last-row">
          <option value="two">2（Dactyl Manuform默认）</option>
          <option value="zero">无</option>
          <option value="full">全部</option>
        </select>
        <label for="keys.switch-type">按键孔位</label>
        <select id="keys.switch-type" name="keys.switch-type">
          <option value="box">Box和MX</option>
          <option value="mx">MX</option>
          <option value="mx-snap-in">MX带槽（单向）</option>
          <option value="alps">Alps</option>
          <option value="choc">凯华choc矮轴（测试）</option>
          <option value="kailh">凯华（测试）</option>
        </select>
        <label for="keys.inner-column">食指列？</label>
        <select id="keys.inner-column" name="keys.inner-column">
          <option value="normie">默认（不附加）</option>
          <option value="outie">里面再加一列（参照ergodox）</option>
          <option value="innie">去掉</option>
        </select>
        <label for="keys.hide-last-pinky">
          隐藏底部小指？（参照Kinesis Advantage的布局）
        </label>
        <select id="keys.hide-last-pinky" name="keys.hide-last-pinky">
          <option value="false">否</option>
          <option value="true">是</option>
        </select>
      </fieldset>
      <label for="curve">
        <h3>曲率和倾斜度</h3>
      </label>
      <fieldset name="curve" id="curve">
        <label for="curve.alpha">列的曲率</label>
        <select id="curve.alpha" name="curve.alpha">
          <option value="12">pi/12</option>
          {% for cc in column-curvature %}
          <option value="{{cc}}">pi/{{cc}}</option>
          {% endfor %}
        </select>
        <label for="curve.pinky-alpha">小拇指列的曲率</label>
        <select id="curve.pinky-alpha" name="curve.pinky-alpha">
          {% for pcc in pinky-column-curvature %}
          <option value="{{pcc}}">pi/{{pcc}}</option>
          {% endfor %}
        </select>
        <label for="curve.beta">行的曲率</label>
        <select id="curve.beta" name="curve.beta" value="pi/36">
          <option value="36">pi/36</option>
          {% for rc in row-curvature %}
          <option value="{{rc}}">pi/{{rc}}</option>
          {% endfor %}
        </select>
        <label for="curve.centecol">
          以哪一列作为行的曲率的中心
        </label>
        <select id="curve.centercol" name="curve.centercol">
          <option value="4">小拇指列</option>
          <option value="3">无名指列</option>
          <option value="2">中指列</option>
          <option value="1">食指列</option>
        </select>
        <label for="curve.tenting">倾斜度</label>
        <select id="curve.tenting" name="curve.tenting">
          {% for ta in tenting-angle %}
          <option value="{{ta}}">pi/{{ta}}</option>
          {% endfor %}
        </select>
        <label for="curve.rotate-x">行旋转</label>
        <select id="curve.rotate-x" name="curve.rotate-x">
          <option value="180">pi/180</option>
          {% for ta in rotate-x %}
          <option value="{{ta}}">pi/{{ta}}</option>
          {% endfor %}
        </select>
      </fieldset>
      <label for="connector">
        <h3>接口</h3>
      </label>
      <fieldset name="connector" id="connector">
        <label for="connector.external">
          使用loligagger的外部支架？
        </label>
        <select
          id="connector.external"
          name="connector.external"
          onchange="toggle_connectors_fields()"
        >
          <option value="false">否</option>
          <option value="true">是</option>
        </select>
        <label for="connector.type">接口</label>
        <select id="connector.type" name="connector.type">
          <option value="rj9">RJ9网线口</option>
          <option value="trrs">TRRS音频口</option>
          <option value="usb">仅USB</option>
          <option value="none">无</option>
        </select>
        <label for="connector.micro-usb">USB口</label>
        <select id="connector.micro-usb" name="connector.micro-usb">
          <option value="false">Mini(t型口)</option>
          <option value="true">Micro(安卓)</option>
        </select>
      </fieldset>
      <label for="form">
        <h3>键盘外形</h3>
      </label>
      <fieldset name="form" id="form">
        <label for="form.hotswap">
          添加凯华热插拔轴座？
        </label>
        <select id="form.hotswap" name="form.hotswap">
          <option value="false">否</option>
          <option value="true">是</option>
        </select>
        <label for="form.thumb-offsets">拇指区x轴位移</label>
        <label for="form.thumb-center-offsets">中间</label>
        <div class="row" id="form.thumb-offsets">
          <div class="column column-33">
            <label for="form.thumb-cluster-offset-x">
              X（小拇指方向）
            </label>
            <input
              type="number"
              name="form.thumb-cluster-offset-x"
              id="form.thumb-cluster-offset-x"
              value="6"
              step="0.1"
            />
          </div>
          <div class="column column-33">
            <label for="form.thumb-cluster-offset-y">
              Y（食指方向）
            </label>
            <input
              type="number"
              name="form.thumb-cluster-offset-y"
              id="form.thumb-cluster-offset-y"
              value="-3"
              step="0.1"
            />
          </div>
          <div class="column column-33">
            <label for="form.thumb-cluster-offset-z"> Z（高度）</label>
            <input
              type="number"
              name="form.thumb-cluster-offset-z"
              id="form.thumb-cluster-offset-z"
              value="7"
              step="0.1"
            />
          </div>
        </div>
        <label for="form.custom-thumb-cluster">
          自定义拇指组（测试）
        </label>
        <select name="form.custom-thumb-cluster" id="form.custom-thumb-cluster">
          <option value="false">否</option>
          <option value="true">是</option>
        </select>
        <label for="form.thumb-top-right"> 右上角 </label>
        <div class="row" id="form.thumb-top-right">
          <div class="column column-33">
            <label for="form.thumb-top-right-offset-x">
              X（小拇指方向）
            </label>
            <input
              type="number"
              name="form.thumb-top-right-offset-x"
              id="form.thumb-top-right-offset-x"
              value="-15"
              step="0.1"
            />
          </div>
          <div class="column column-33">
            <label for="form.thumb-top-right-offset-y">
              Y（食指方向）
            </label>
            <input
              type="number"
              name="form.thumb-top-right-offset-y"
              id="form.thumb-top-right-offset-y"
              value="-10"
              step="0.1"
            />
          </div>
          <div class="column column-33">
            <label for="form.thumb-top-right-offset-z">Z（高度）</label>
            <input
              type="number"
              name="form.thumb-top-right-offset-z"
              id="form.thumb-top-right-offset-z"
              value="-5"
              step="0.1"
            />
          </div>
        </div>
        <div class="row">
          <div class="column column-33">
            <label for="form.thumb-top-right-tenting-x">
              X方向度数（小拇指方向）
            </label>
            <select
              id="form.thumb-top-right-tenting-x"
              name="form.thumb-top-right-tenting-x"
            >
              <option value="69">默认（无曲率）</option>
              {% for ttx in thumb-tenting %}
              <option value="{{ttx}}">{{ttx}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="column column-33">
            <label for="form.thumb-top-right-tenting-y">
              Y方向度数（食指方向）
            </label>
            <select
              id="form.thumb-top-right-tenting-y"
              name="form.thumb-top-right-tenting-y"
            >
              <option value="69">默认（无曲率）</option>
              {% for tty in thumb-tenting %}
              <option value="{{tty}}">{{tty}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="column column-33">
            <label for="form.thumb-top-right-tenting-z">
              Z方向度数（高度）
            </label>
            <select
              id="form.thumb-top-right-tenting-z"
              name="form.thumb-top-right-tenting-z"
            >
              <option value="69">默认（无曲率）</option>
              {% for ttz in thumb-tenting %}
              <option value="{{ttz}}">{{ttz}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <label for="form.thumb-top-left">左上角</label>
        <div class="row" id="form.thumb-top-left">
          <div class="column column-33">
            <label for="form.thumb-top-left-offset-x">
              X方向度数（小拇指方向）
            </label>
            <input
              type="number"
              name="form.thumb-top-left-offset-x"
              id="form.thumb-top-left-offset-x"
              value="-35"
              step="0.1"
            />
          </div>
          <div class="column column-33">
            <label for="form.thumb-top-left-offset-y">
              Y方向度数（食指方向）
            </label>
            <input
              type="number"
              name="form.thumb-top-left-offset-y"
              id="form.thumb-top-left-offset-y"
              value="-16"
              step="0.1"
            />
          </div>
          <div class="column column-33">
            <label for="form.thumb-top-left-offset-z">Z（高度）</label>
            <input
              type="number"
              name="form.thumb-top-left-offset-z"
              id="form.thumb-top-left-offset-z"
              value="-2"
              step="0.1"
            />
          </div>
        </div>
        <div class="row">
          <div class="column column-33">
            <label for="form.thumb-top-left-tenting-x">
              X方向度数（小拇指方向）
            </label>
            <select
              id="form.thumb-top-left-tenting-x"
              name="form.thumb-top-left-tenting-x"
            >
              <option value="69">默认 (无曲率)</option>
              {% for ttx in thumb-tenting %}
              <option value="{{ttx}}">{{ttx}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="column column-33">
            <label for="form.thumb-top-left-tenting-y">
              Y方向度数（食指方向）
            </label>
            <select
              id="form.thumb-top-left-tenting-y"
              name="form.thumb-top-left-tenting-y"
            >
              <option value="69">默认（无曲率）</option>
              {% for tty in thumb-tenting %}
              <option value="{{tty}}">{{tty}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="column column-33">
            <label for="form.thumb-top-left-tenting-z">
              Z方向度数（高度）
            </label>
            <select
              id="form.thumb-top-left-tenting-z"
              name="form.thumb-top-left-tenting-z"
            >
              <option value="69">默认（无曲率）</option>
              {% for ttz in thumb-tenting %}
              <option value="{{ttz}}">{{ttz}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <label for="form.thumb-middle-left">左边中间</label>
        <div class="row" id="form.thumb-middle-left">
          <div class="column column-33">
            <label for="form.thumb-middle-left-offset-x">
              X（小拇指方向）
            </label>
            <input
              type="number"
              name="form.thumb-middle-left-offset-x"
              id="form.thumb-middle-left-offset-x"
              value="-53"
              step="0.1"
            />
          </div>
          <div class="column column-33">
            <label for="form.thumb-middle-left-offset-y">
              Y（食指方向）
            </label>
            <input
              type="number"
              name="form.thumb-middle-left-offset-y"
              id="form.thumb-middle-left-offset-y"
              value="-26"
              step="0.1"
            />
          </div>
          <div class="column column-33">
            <label for="form.thumb-middle-left-offset-z"> Z（高度） </label>
            <input
              type="number"
              name="form.thumb-middle-left-offset-z"
              id="form.thumb-middle-left-offset-z"
              value="-12"
              step="0.1"
            />
          </div>
        </div>
        <div class="row">
          <div class="column column-33">
            <label for="form.thumb-middle-left-tenting-x">
              X（小拇指方向）
            </label>
            <select
              id="form.thumb-middle-left-tenting-x"
              name="form.thumb-middle-left-tenting-x"
            >
              <option value="69">默认（无曲率）</option>
              {% for ttx in thumb-tenting %}
              <option value="{{ttx}}">{{ttx}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="column column-33">
            <label for="form.thumb-middle-left-tenting-y">
              Y（食指方向）
            </label>
            <select
              id="form.thumb-middle-left-tenting-y"
              name="form.thumb-middle-left-tenting-y"
            >
              <option value="69">默认（无曲率）</option>
              {% for tty in thumb-tenting %}
              <option value="{{tty}}">{{tty}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="column column-33">
            <label for="form.thumb-middle-left-tenting-z">Z（高度）</label>
            <select
              id="form.thumb-middle-left-tenting-z"
              name="form.thumb-middle-left-tenting-z"
            >
              <option value="69">默认（无曲率）</option>
              {% for ttz in thumb-tenting %}
              <option value="{{ttz}}">{{ttz}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <label for="form.stagger">每行之间错位?</label>
        <select id="form.stagger" name="form.stagger">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
        <label for="form.index-measurement">
          食指错位（仅在错位为“是”时使用）
        </label>
        <div class="row" id="form.index-measurement">
          <div class="column column-50">
            <label for="form.stagger-index-y">Y</label>
            <input
              type="number"
              name="form.stagger-index-y"
              id="form.stagger-index-y"
              value="0"
              step="0.1"
            />
          </div>
          <div class="column column-50">
            <label for="form.index-z">Z</label>
            <input
              type="number"
              name="form.stagger-index-z"
              id="form.stagger-index-z"
              value="0"
              step="0.1"
            />
          </div>
        </div>
        <label for="form.middle-measurement">
          中指列位移（仅在错位为“是”时使用）
        </label>
        <div class="row" id="form.middle-measurement">
          <div class="column column-50">
            <label for="form.stagger-middle-y">Y</label>
            <input
              type="number"
              name="form.stagger-middle-y"
              id="form.stagger-middle-y"
              value="2.8"
              step="0.1"
            />
          </div>
          <div class="column column-50">
            <label for="form.stagger-middle-z"> Z </label>
            <input
              type="number"
              name="form.stagger-middle-z"
              id="form.stagger-middle-z"
              value="-6.5"
              step="0.1"
            />
          </div>
        </div>
        <label for="form.ring-measurement">
          无名指列位移（仅在错位为“是”时使用）
        </label>
        <div class="row" id="form.ring-measurement">
          <div class="column column-50">
            <label for="form.stagger-ring-y">Y</label>
            <input
              type="number"
              name="form.stagger-ring-y"
              id="form.stagger-ring-y"
              value="0"
              step="0.1"
            />
          </div>
          <div class="column column-50">
            <label for="form.stagger-ring-z"> Z </label>
            <input
              type="number"
              name="form.stagger-ring-z"
              id="form.stagger-ring-z"
              value="0"
              step="0.1"
            />
          </div>
        </div>
        <label for="form.pinky-measurement">
          小拇指列位移（仅在错位设置为“是”时使用）
        </label>
        <div class="row" id="form.pinky-measurement">
          <div class="column column-50">
            <label for="form.stagger-pinky-y">Y</label>
            <input
              type="number"
              name="form.stagger-pinky-y"
              id="form.stagger-pinky-y"
              value="-13"
              step="0.1"
            />
          </div>
          <div class="column column-50">
            <label for="form.stagger-pinky-z"> Z </label>
            <input
              type="number"
              name="form.stagger-pinky-z"
              id="form.stagger-pinky-z"
              value="6"
              step="0.1"
            />
          </div>
        </div>
        <label for="form.wide-pinky">小拇指最外列使用1.5u键帽？</label>
        <select id="form.wide-pinky" name="form.wide-pinky">
          <option value="false">否</option>
          <option value="true">是</option>
        </select>
        <label for="form.height-offset">整体高度增加量</label>
        <select id="form.height-offset" name="form.height-offset">
          {% for ho in height-offset %}
          <option value="{{ho}}">{{ho}}mm</option>
          {% endfor %}
        </select>
        <label for="form.web-thickness"
          >定位板厚度（按键孔位周围的部分）</label
        >
        <input
          type="number"
          name="form.web-thickness"
          id="form.web-thickness"
          value="7"
          step="0.1"
          min="1"
          max="10"
        />

        <label for="form.wall-thickness"
          >键盘外壁厚度</label
        >
        <input
          type="number"
          name="form.wall-thickness"
          id="form.wall-thickness"
          value="3"
          step="0.1"
          min="1"
          max="7"
        />

        <label for="form.wire-post">走线凸块？</label>
        <select id="form.wire-post" name="form.wire-post">
          <option value="false">不加</option>
          <option value="true">加</option>
        </select>
        <label for="form.screw-inserts">螺丝孔</label>
        <select id="form.screw-inserts" name="form.screw-inserts">
          <option value="false">不加</option>
          <option value="true">加</option>
        </select>
      </fieldset>
      <label for="misc">
        <h3>杂项</h3>
      </label>
      <fieldset name="misc" id="misc">
        <label for="misc.keycaps">显示键帽？</label>
        <select id="misc.keycaps" name="misc.keycaps">
          <option value="false">否</option>
          <option value="true">是</option>
        </select>
        <label for="misc.right-side">左手还是右手？</label>
        <select id="misc.right-side" name="misc.right-side">
          <option value="true">右手</option>
          <option value="false">左手</option>
        </select>
      </fieldset>
      <input
        class="button-primary"
        type="submit"
        name="generate-case"
        value="生成外壳"
      />
      <input
        class="button-primary"
        type="submit"
        name="generate-plate"
        value="生成底盖"
      />
      <input
        class="button-primary"
        type="submit"
        name="generate-json"
        value="生成JSON"
      />
    </form>
    <p>Loligagger的单片机卡槽文件：</p>
    <ul>
      <li>
        <a href="loligagger-external-holder-promicro-v1.stl">Promicro V1</a>
      </li>
      <li>
        <a href="loligagger-external-holder-promicro-v2.stl">Promicro V2</a>
      </li>
      <li>
        <a href="loligagger-external-holder-elite-c-v1.stl">Elite-C V1</a>
      </li>
    </ul>
    <p>BrownElvis的单片机卡槽文件：</p>
    <ul>
      <li>
        <a href="loligagger-external-holder-promicro-v3-extended.stl">
          Promicro V3
        </a>
      </li>
    </ul>
  </div>
  <div class="column column-25">
    <h3>默认选项：</h3>
    <button onclick="setminidox()">Minidox</button>
    <br />
    <button onclick="setcorne()">Corne</button>
    <br />
    <button onclick="setergodox()">Ergodox</button>
    <br />
    <button onclick="setsmallest()">r/emk's logo</button>
  </div>
</div>
{% endblock %}
